*{
  margin: 0;
  padding: 0;
}
ol {
  display: flex;
  flex-direction: row;
  padding: 20px;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  background-color: black;
}
li{
  margin-right: 50px;
  font-weight: bold;
  font-size: larger;
  color: white;
}
div{
  display: flex;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  font-size: xx-large;
}
#contact-div{
  display: flex;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  font-size: xx-large;
}